$inlineInputs: 'textarea, select, .select, input[type=text], input[type=search], input[type=email], input[type=phone], input[type=password], input[type=date], input[type=number]';

#{$inlineInputs} {
	border: 1px solid color(light);
	border-width: 0 0 1px 0;
	height: $controlMD;
	line-height: 1; /* safari fix */
	vertical-align: middle;
	font-size: $textMD;
	padding: 0;
	outline: none;
	background-color: transparent;
	min-width: 140px;
	border-radius: 0;
	transition: border-color 0.3s ease;
	@include placeholder {
		color: $placeholderColor;
		text-overflow: ellipsis;
		font-family: $roboto;
	}
	&:focus, &.focus {
		border-color: color(grey);
	}
	&:focus + .under {
		width: 100%;
	}
	&[disabled] {
		color: color(grey);
		background-color: transparent;
		border-style: dotted;
		cursor: not-allowed;
	}
	&.default {
		border-width: 1px;
		padding-left: $gap/2;
		padding-right: $gap/2;
		background-color: #fff;
		border-radius: $inputBorderRadius;
		@if $inputShadow {
			box-shadow: 0 3px 10px rgba(0,0,0,0.2);
		}
		&[disabled] {
			background-color: color(bright);
		}
	}
	&.transparent {
		border-width: 1px;
		padding-left: $gap/2;
		padding-right: $gap/2;
	}
	//material style - animated underline
	&.mt, &.mtr {
		border-color: transparent;
		@include linear-gradient-double($colorPrimary, color(light));
		background-repeat: no-repeat;
		background-position: center bottom, center 100%;
		@include background-size(0 2px, 100% 1px);
		&:focus {
			outline: none;
			transition: background 0.3s ease-out;
			@include background-size(100% 2px, 100% 1px);
		}
	}
	//white style (inverted)
	&.white {
		@include placeholder {
			color: #fff;
		}
		@include linear-gradient-double(#fff, #fff);
	}
	&.noborder {
		border-color: transparent;
	}

	.full { min-width: auto; }
}

select, .select {
	background-image: url(../img/ico-select.svg);
	background-position: right center;
	background-repeat: no-repeat;
	padding-right: 32px;
	cursor: pointer;
	transition:(background-position 0.25s ease);

	//for Chrome
	-webkit-appearance: none;
	//for FF
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	//for IE
	-ms-appearance: none;
	appearance: none!important;

	&.empty {
		color: color(light-grey);
	}
	&:focus, &.focus {
		//background-position: right -32px;
	}
	&::-ms-expand {
		display: none;
	}
	option[disabled] {
		color: color(grey);
	}
}

textarea {
	height: auto;
	resize: vertical;
	line-height: 22px;
	&.default {
		padding-top: $gap/2;
		padding-bottom: $gap/2;
	}
}

input[type=file]{
	//for Chrome
	-webkit-appearance: none;
	//for FF
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	//for IE
	-ms-appearance: none;
	appearance: none !important;
}

.fileinput {
	position: relative;
	display: inline-block;
	input[type=file] {
		background-color: #ccc;
		position: absolute;
		z-index: 100;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		&:focus {
			+ input[type=text] {
				border-color: color(grey);
			}
		}
	}
	input[type=text] {
		width: 100%;
		position: relative;
		z-index: 1;
	}
	&:after {
		content: "\f0c6";
		font-family: FontAwesome;
		font-size: inherit;
		display: block;
		color: color(light);
		position: absolute;
		right: 0;
		top: 0;
		width: 16px;
		line-height: 32px;
		text-align: center;
	}
}
.fileinput-btn {
	.btn {
		position: relative;
		input[type=file] {
			background-color: #ccc;
			position: absolute;
			z-index: 100;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0;
			&:focus {
				+ input[type=text] {
					border-color: color(grey);
				}
			}
		}
	}
}

.input-icon {
	position: relative;

	> input, > select { padding-right: $textMD + $gap/2; }
	//icon right (default)
	> .icon {
		position: absolute;
		top: 50%;
		right: 0;
		transform: translate(0,-50%);
		display: block;
	}
	&.default {
		> input, > select { padding-right: $controlMD; }
		> .icon {
			text-align: center;
			width: $controlMD;
		}
	}
	&.icon-left {
		> input, > select {
			padding-right: 0;
			&.default { padding-right: $gap/2; }
		}
	}

	&.input-icon-aside {
		> input { margin-right: $controlMD; width: calc(100% - #{$controlMD}); }
		> .icon {
			//position: static;
		}
	}
	//icon sizes
	.icon.icon-xs { width: $controlXS; font-size: $textXS; }
	.icon.icon-sm { width: $controlSM; font-size: $textSM; }
	.icon.icon-lg { width: $controlLG; font-size: $textLG; }
	.icon.icon-xl { width: $controlXL; font-size: $textXL; }
}

.icon-left {
	> input, > select {
		padding-left: $textMD + $gap/2;
		&.default {
			padding-left: $controlMD;
		}
	}
	> .icon {
		right: inherit;
		left: 0;
	}
}

/*** SIZES ***/
select, textarea, input:not([type="checkbox"]), input:not([type="radio"]) {
	&.input-xs { height: $controlXS; font-size: $textXS; }
	&.input-sm { height: $controlSM; font-size: $textSM; }
	&.input-lg { height: $controlLG; font-size: $textLG; }
	&.input-xl { height: $controlXL; font-size: $textXL; }
}
.input-icon {
	.input-xs { padding: 0 $textXS + $gap/2; &.default { padding: 0 $controlXS; } }
	.input-sm { padding: 0 $textSM + $gap/2; &.default { padding: 0 $controlSM; } }
	.input-lg { padding: 0 $textLG + $gap/2; &.default { padding: 0 $controlLG; } }
	.input-xl { padding: 0 $textXL + $gap/2; &.default { padding: 0 $controlXL; } }
}

input[type=range] {
	-webkit-appearance: none;
  width: 100%;
  margin: 5.85px 0;

	&:focus {
	  outline: none;
	}
	//CHROME
	&::-webkit-slider-runnable-track {
	  width: 100%;
	  height: 3px;
	  cursor: pointer;
	  background: color(light);
	}
	//FIREFOX
	&::-moz-range-track {
		width: 100%;
		height: 3px;
		cursor: pointer;
		background: color(light);
	}
	//IE
	&::-ms-track {
		width: 100%;
		height: 3px;
		cursor: pointer;
		background: color(light);
	}

	//CHROME
	&::-webkit-slider-thumb {
		-webkit-appearance: none;
	  box-shadow: 0 3px 10px rgba(0,0,0,0.2);
	  border: 1px solid #fff;
	  height: 20px;
	  width: 20px;
	  border-radius: 50%;
	  background: $colorPrimaryDark;
	  cursor: pointer;
	  margin-top: -9px;
	}
	//FIREFOX
	&::-moz-range-thumb {
		box-shadow: 0 3px 10px rgba(0,0,0,0.2);
	  border: 1px solid #fff;
	  height: 20px;
	  width: 20px;
	  border-radius: 50%;
	  background: $colorPrimaryDark;
	  cursor: pointer;
	  margin-top: -9px;
	}
	//IE
	&::-ms-thumb {
		box-shadow: 0 3px 10px rgba(0,0,0,0.2);
	  border: 1px solid #fff;
	  height: 20px;
	  width: 20px;
	  border-radius: 50%;
	  background: $colorPrimaryDark;
	  cursor: pointer;
	  margin-top: -9px;
	}

	// &::-ms-fill-lower {
	//   background: #194620;
	//   border: 1.1px solid #18d501;
	//   border-radius: 2px;
	//   box-shadow: 0.9px 0.9px 1.7px #002200, 0px 0px 0.9px #003c00;
	// }
	// &::-ms-fill-upper {
	//   background: #205928;
	//   border: 1.1px solid #18d501;
	//   border-radius: 2px;
	//   box-shadow: 0.9px 0.9px 1.7px #002200, 0px 0px 0.9px #003c00;
	// }

}
