/* RADIO BUTTON */
.radio {
	vertical-align: middle;
	input { display:none; }
	label {
		cursor: pointer;
		padding: 8px 0;
		input {display: none;}
		@include no-select();
		.circle {text-align: left;}
		.circle, input[disabled] + .circle {
			content: "";
			display: inline-block;
			vertical-align: middle;
			width: 20px;
			height: 20px;
			margin-right: $gap;
			position: relative;
			background-color: transparent;
			border: 2px solid $colorPrimary;
			border-radius: 20px;
			transition: background 0.3s ease;
		}
		.circle:after {
			content: "";
			display: block;
			position: absolute;
			top: 2px;
			left: 2px;
			width: 12px;
			height: 12px;
			background-color: transparent;
			border-radius: 10px;
			transform: scale(0,0);
			transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.1s ease;
		}
		input {
			& +.circle:active:after, &[disabled] + .circle:active:after {
				transform: scale(1,1);
				background-color: rgba(0, 0, 0, 0.1);
				box-shadow: 0 0 0 15px rgba(0, 0, 0, 0.1);
			}
			&[disabled] + .circle { 
				cursor: default;
				cursor: not-allowed;
				border-color: $colorPrimary;
			}
		}
		input:checked {
			+.circle {
				background-color: color(white); // Switch bg on
			}
			+ .circle:after {
				transform: scale(1,1);
				background-color: $colorPrimary;
			}
			+ .circle:active:after {
				background-color: $colorPrimary;
				box-shadow: 0 0 0 15px rgba($colorPrimary, 0.1);
			}
			&[disabled] + .circle { 
				border-color: color(grey);
				&:after {
					background-color: color(grey);
				}
			}
		}
	}
}