//общие полезные классы
.clear {display: block; clear: both; width: 100%;}
.right {float: right;}
.left {float: left;}
.center {display: table; float: none; margin-left: auto; margin-right: auto;}
.text-right {text-align: right;}
.text-left {text-align: left;}
.text-center {text-align: center;}

.nm {margin: 0 !important;}
.np {padding: 0 !important;}
.ml {margin-left: 0.5*$gap;}
.mr {margin-right: 0.5*$gap;}
.mt {margin-top: 0.5*$gap;}
.mb {margin-bottom: 0.5*$gap;}
.pt {padding-top: 0.5*$gap;}
.pb {padding-bottom: 0.5*$gap;}
.pr {padding-right: 0.5*$gap;}
.pl {padding-left: 0.5*$gap;}
@for $i from 1 through 8 {
	.m#{$i} {
		margin: $gap*$i;
	}
	.mt#{$i} {
		margin-top: $gap*$i;
	}
	.mb#{$i} {
		margin-bottom: $gap*$i;
	}
	.ml#{$i} {
		margin-left: $gap*$i;
	}
	.mr#{$i} {
		margin-right: $gap*$i;
	}
	.p#{$i} {
		padding: $gap*$i;
	}
	.pl#{$i} {
		padding-left: $gap*$i;
	}
	.pr#{$i} {
		padding-right: $gap*$i;
	}
	.pt#{$i} {
		padding-top: $gap*$i;
	}
	.pb#{$i} {
		padding-bottom: $gap*$i;
	}
}
//POSITION CLASSES
.fixed, .absolute {
	&.fh {
		top: 0;
		bottom: 0;
	}
	&.fill {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	&.top-left {top: 0; left: 0;}
	&.top-right {top: 0; right: 0;}
	&.bottom-left {bottom: 0; left: 0;}
	&.bottom-right {bottom: 0; right: 0;}
	&.top {top: 0; left: 0; right: 0; width: 100%;}
	&.bottom {bottom: 0; left: 0; right: 0; width: 100%;}
	&.z0 {z-index: 0;}
	&.z1 {z-index: 1;}
	&.z100 {z-index: 100;}
	&.z1000 {z-index: 1000;}
	&.z9999 {z-index: 9999;}
}
.fixed {position: fixed;}
.absolute {position: absolute;}
.relative {position: relative;}
.hidden {display: none;}
