.breadcrumb, .breadcrumbs {
	list-style: none;
	display: block;
	margin: 0;
	//padding: $gap 0;

	li {
		display: inline-block;
		font-size: $fs6;
		a {
			text-decoration: none; 
			color: inherit;
			font-size: inherit;
		}
		span {
			opacity: 0.7;
			color: $colorPrimary;
			font-size: inherit;
		}
		&:after {
			display: inline-block;
			content: "\f105";
			font-family: FontAwesome;
			margin: 0 7px;
		}
		&:last-child:after {display: none;}
	}
}