.cover {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}
.background {
	background-repeat: no-repeat;
	background-position: center center;
	&.bg-right {
		background-position: right center;
	}
	&.bg-left {
		background-position: left center;
	}
}

.image {
	display: block;
	width: 100%;
	text-align: center;
	overflow: hidden;
	img {
		max-width: 100%;
		height: auto;
	}
	&.hover-scale {
		img {
			transform: scale(1);
			transition: transform 2s ease;
		}
		&:hover img {
			transform: scale(1.2);
		}
	}
	&.circle {
		img {
			border-radius: 50%;
		}
	}
}

.video {
	position: relative;
	height: 0;
	&.ratio-16-9 {
		padding-bottom: (9/16)*100%; /* 16:9 */
	}
	&.ratio-4-3 {
		padding-bottom: (4/3)*100%; /* 16:9 */
	}
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}