/*** LEFT MENU ***/

body.has-menu-drawer {

	.menu-drawer {
		position: fixed;
		z-index: 9000;
		left: 0;
		top: 0;
		bottom: 0;
		width: 280px;
		transform: translate(-100%,0);
		transition: transform 0.3s ease;
		overflow-y: auto;
	}

	&.menu-drawer-opened {
		.menu-drawer { transform: translate(0%,0%); }
		&:after {
			display: block;
			content: '';
			position: fixed;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			z-index: 8900;
			background-color: rgba(0,0,0,0.5);
		}
	}
}

//move body content for static menu
@media screen and (min-width: $md) {
	body.has-menu-drawer.menu-drawer-static {
		padding-left: 0;
		transition: padding-left 0.3s ease;

		&.menu-drawer-opened {
			padding-left: 280px;

			&:after {
				display: none;
			}
		}
	}
}