.popup {
	margin-top: 40px;
	margin-bottom: 40px;
	background-color: color(white);
	min-width: 300px;
	width: 35%;
	.box {
		padding: 16px; 24px;
	}
	.head {
		&, p {
			margin: 0;
			line-height: 40px;
		}
		border-bottom: 1px solid color(lighten);
	}
	@media only screen and (max-width: $lg - 1px){
		width: 50%;
	}
	@media only screen and (max-width: $md - 1px){
		width: 66%;
	}
	@media only screen and (max-width: $sm - 1px){
		width: 96%;
	}
}