.ripple, .btn-mt {
	position: relative;
	overflow: hidden;
	.ink {
		display: block; position: absolute;
		background: #fff;
		border-radius: 100%;
		transform: scale(0);
		opacity: 0.4;
	}
	.ink.animate {animation: ripple 0.65s linear;}
	@keyframes ripple {
		100% {opacity: 0; transform: scale(2.5);}
	}
	&.wave-grey {
		.ink {
			background: #dfdfdf;
		}
	}
	&.wave-slow {
		.ink.animate {animation: ripple 2.5s linear;}
	}
}